$primary: #FFBC7C !default;
$black: #000 !default;
$white: #fff !default;
$gray: #808080 !default;
$blue: #81b1d9 !default;
$light-blue: #81b1d947 !default;
$bg-gray: #090a0b;
$bg-black: #030305;


//fonts
$font-10: 0.6rem;
$font-12: 0.8rem;
$font-14: 0.9rem;
$font-16: 1.06rem;
$font-18: 1.2rem;
$font-20: 1.33rem;
$font-22: 1.4rem;
$font-24: 1.6rem;
$font-26: 1.7rem;
$font-28: 1.8rem;
$font-30: 2rem;
$font-32: 2.2rem;
$font-34: 2.4rem;
$font-36: 2.6rem;
$font-38: 2.8rem;
$font-40: 3.0rem;
$font-42: 3.2rem;
$font-44: 3.4rem;
$font-46: 3.9rem;

$futura-light: "Futura Light";



